.clients-section{
    padding: 110px 10px;
    background-color: var(--accent-text-color);
}
.clients-list{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.clients-heading{
    font-size: 2rem;
    line-height: 1.2;
   
}




